.btnMudarTema:focus, .btnMudarTema {
    outline: none;
    border: none;
  }

  @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }
  
  .b-example-divider {
    width: 100%;
    height: 1rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  
div{
    color: var(--bs-blue-100);
}

.btn-primary{
    background-color: rgb(107, 20, 221);
}

.red{
    background-color: red;
}